<div class="row">
  <div class="col-sm-6">
    <h2>Queues</h2>
    <div id="queues" data-url="<%= root_path %>stats">
    </div>
  </div>

  <div class="col-sm-6" id="graph-container">
  </div>
</div>
