<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sucker Punch Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
  </head>
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Sucker Punch Dashboard</h1>
        <p class="lead">Background processing, without the process.</p>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="<%= root_path %>javascripts/dashboard.js"></script>
  </body>
</html>
